*{
    margin: 0;
    padding: 0;
}
body{
    background-color: brown;

}
.content{
    margin: 300px;
    width: 700px;
    height: 700px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 300px;
    height: 50px;
    margin-top: 60px;
    text-align: center;
    color: black;
    background-color: antiquewhite;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}
input:hover{
    color: blueviolet;
}
#button{
    width: 120px;
    height: 40px;
    margin-top: 60px;
    border-radius: 10px;
    background-color: grey;
    color: rgb(41, 37, 36);
}
.write{
    margin: 100px;
    width: 500px;
    height: 300px;
    background-color: black;
}
.java{
    color: azure;
    margin: 50px;
    font-size: 30px;
}
.java span{
    display: block;
    margin-top: 35px;
}